In [ ]:
#importamos las librerias 
import pandas as pd
import numpy as np

In [ ]:
#abrimos los csv y los colocamos dentro de un dataframe

#el csv de amazon
amazon=pd.read_csv('/content/drive/MyDrive/MLOpsReviews/amazon_prime_titles.csv')

#el csv de amazon
disney=pd.read_csv('/content/drive/MyDrive/MLOpsReviews/disney_plus_titles.csv')

#el csv de amazon
hulu=pd.read_csv('/content/drive/MyDrive/MLOpsReviews/hulu_titles.csv')

#el csv de amazon
netflix=pd.read_csv('/content/drive/MyDrive/MLOpsReviews/netflix_titles.csv')

In [ ]:
# se pone head solo para comprobar que están bien los datos
netflix.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

In [ ]:
#con info() nos da tanto nulos, como el tipo de variables y el tamaño del df
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [ ]:
#Se realiza la concatenación para el campo de id, para tener la informacion 
#de que plataforma viene cada uno de los datos 

amazon['id']='a'+amazon.show_id

disney['id']='d'+disney.show_id

hulu['id']='h'+hulu.show_id

netflix['id']='n'+netflix.show_id

In [ ]:
#revisando en la columna de rating se observa que 
#hay un error porque ademas de colocar la claseificacion, tiene duracion
hulu.rating.unique()

array(['TV-MA', nan, 'PG-13', 'R', 'TV-14', 'PG', 'TV-PG', 'NOT RATED',
       'G', 'TV-G', '2 Seasons', 'TV-Y', '93 min', '4 Seasons', 'TV-Y7',
       '136 min', '91 min', '85 min', '98 min', '89 min', '94 min',
       '86 min', '3 Seasons', '121 min', '88 min', '101 min', '1 Season',
       '83 min', '100 min', '95 min', '92 min', '96 min', '109 min',
       '99 min', '75 min', '87 min', '67 min', '104 min', '107 min',
       '84 min', '103 min', '105 min', '119 min', '114 min', '82 min',
       '90 min', '130 min', '110 min', '80 min', '6 Seasons', '97 min',
       '111 min', '81 min', '49 min', '45 min', '41 min', '73 min',
       '40 min', '36 min', '39 min', '34 min', '47 min', '65 min',
       '37 min', '78 min', '102 min', '129 min', '115 min', '112 min',
       'NR', '61 min', '106 min', '76 min', '77 min', '79 min', '157 min',
       '28 min', '64 min', '7 min', '5 min', '6 min', '127 min',
       '142 min', '108 min', '57 min', '118 min', '116 min', '12 Seasons',
       '71 min'], dtype=object)

Para corregir se divide en dos columnas una que tenga los datos que comienzan con numeros y la otra con los demas valores

In [ ]:
#se divide de la columna rating aquellos valores que contiene números con los que tienen la
#correcta clasificación, y los que son nan se dejan nan en ambas columnas 
hulu[['noesrating','ratingbien']] = hulu.apply(lambda x: [x.rating, 0] if  x.rating == x.rating and x.rating[0].isdigit() 
                                            else [0, x.rating] if x.rating == x.rating
                                            else [np.nan, np.nan], axis=1, result_type='expand')

In [ ]:
#se compruba que valores tiene la columna no es rating
hulu.noesrating.unique()

array([0, nan, '2 Seasons', '93 min', '4 Seasons', '136 min', '91 min',
       '85 min', '98 min', '89 min', '94 min', '86 min', '3 Seasons',
       '121 min', '88 min', '101 min', '1 Season', '83 min', '100 min',
       '95 min', '92 min', '96 min', '109 min', '99 min', '75 min',
       '87 min', '67 min', '104 min', '107 min', '84 min', '103 min',
       '105 min', '119 min', '114 min', '82 min', '90 min', '130 min',
       '110 min', '80 min', '6 Seasons', '97 min', '111 min', '81 min',
       '49 min', '45 min', '41 min', '73 min', '40 min', '36 min',
       '39 min', '34 min', '47 min', '65 min', '37 min', '78 min',
       '102 min', '129 min', '115 min', '112 min', '61 min', '106 min',
       '76 min', '77 min', '79 min', '157 min', '28 min', '64 min',
       '7 min', '5 min', '6 min', '127 min', '142 min', '108 min',
       '57 min', '118 min', '116 min', '12 Seasons', '71 min'],
      dtype=object)

In [ ]:
#se compruba que valores tiene la columna ratingbien
hulu.ratingbien.unique()

array(['TV-MA', nan, 'PG-13', 'R', 'TV-14', 'PG', 'TV-PG', 'NOT RATED',
       'G', 'TV-G', 0, 'TV-Y', 'TV-Y7', 'NR'], dtype=object)

Entonces con la columna "no es rating"que contiene la duración de las peliculas o tv shows por lo que podemos "rellenar" la columna que es la correcta.

In [ ]:
#Revisamos si hay valores sin "rellenar" en la columna de duración
#Los nan en duration son de 479
hulu.duration.isna().sum()

479

In [ ]:
# con los valores de la comulumna de no es rating se rellenan los faltantes
# en la columna de Duration  
hulu.duration = hulu.duration.fillna(hulu.noesrating)

In [ ]:
#Como comprobacion revisamos de nuevo los nan
#Los nan en duration despues del relleno son 106
hulu.duration.isna().sum()

106

In [ ]:
# reemplazar los valores de rating por los ya separados
hulu.rating=hulu.ratingbien

# reemplazo los valores 0 de la rating por NaN
hulu.rating = np.where(hulu.rating==0, np.nan, hulu.rating)

In [ ]:
#elimino las columnas inecesarias
hulu.drop(columns=['noesrating','ratingbien'], inplace=True)

In [ ]:
hulu.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,0,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,hs1
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",hs2

Se tiene el mismo problema en netflix por lo que se procede a realizar los mismos pasos

In [ ]:
#hay error en el campo de rating en el data de netflix
netflix.rating.unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

In [ ]:
#se divide de la columna rating aquellos valores que contiene numeros con los que tienen la
#correcta clasificacion, y los que son nan se dejan nan en ambas columnas 
netflix[['noesrating','ratingbien']] = netflix.apply(lambda x: [x.rating, 0] if  x.rating == x.rating and x.rating[0].isdigit() 
                                            else [0, x.rating] if x.rating == x.rating
                                            else [np.nan, np.nan], axis=1, result_type='expand')


# con los valores de la comulumna de no es rating se rellenan los faltantes
# en la columna de Duration  
netflix.duration = netflix.duration.fillna(netflix.noesrating)

# reemplazar los valores de rating por los ya separados
netflix.rating=netflix.ratingbien

# reemplazo los valores 0 de la rating por NaN
netflix.rating = np.where(netflix.rating==0, np.nan, netflix.rating)

#elimino las columnas inecesarias
netflix.drop(columns=['noesrating','ratingbien'], inplace=True)

In [ ]:
amazon.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2

In [ ]:
amazon.shape[0]+ disney.shape[0]+hulu.shape[0]+netflix.shape[0]

22998

In [ ]:
# se concatenan los data de todas las plataformas y se cambia el index
plataformas = pd.concat([amazon, disney, hulu, netflix], ignore_index=True, sort=False )
plataformas.shape

(22998, 13)

In [ ]:
plataformas.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2

In [ ]:
plataformas.isnull().sum()

show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating           1159
duration          106
listed_in           0
description         4
id                  0
dtype: int64

In [ ]:
#Cambiar datos nulos por 'G'
plataformas.rating.fillna('G', inplace=True)

In [ ]:
#revisando los cambios en rating
plataformas.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3

In [ ]:
#se comprueba que los valores en la columna de rating están correctos después de las transformaciones
plataformas.rating.unique()

array(['G', '13+', 'ALL', '18+', 'R', 'TV-Y', 'TV-Y7', 'NR', '16+',
       'TV-PG', '7+', 'TV-14', 'TV-NR', 'TV-G', 'PG-13', 'TV-MA', 'PG',
       'NC-17', 'UNRATED', '16', 'AGES_16_', 'AGES_18_', 'ALL_AGES',
       'NOT_RATE', 'TV-Y7-FV', 'NOT RATED', 'UR'], dtype=object)

In [ ]:
plataformas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      14739 non-null  object
 4   cast          17677 non-null  object
 5   country       11499 non-null  object
 6   date_added    13444 non-null  object
 7   release_year  22998 non-null  int64
 8   rating        22998 non-null  object
 9   duration      22892 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22994 non-null  object
 12  id            22998 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.3+ MB

In [ ]:
#haciendo el cambio de fecha como strig a y-m-d
plataformas.date_added=pd.to_datetime(plataformas.date_added)
plataformas.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
22993,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2019-11-20,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",ns8803
22994,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2019-07-01,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",ns8804
22995,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,ns8805
22996,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",ns8806
22997,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,ns8807

In [ ]:
#se cambia a minusculas todos los string
columnas_a_cambiar=['type',	'title', 'director', 'cast', 'country', 'rating', 'duration', 'listed_in', 'description']
#la lambda nos ayuda a declarar una funcion que en este caso es poner en minusculas
plataformas[columnas_a_cambiar] = plataformas[columnas_a_cambiar].apply(lambda x: x.str.lower())

In [ ]:
#revision de los cambios
plataformas.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3

Se hace un cambio en la columna de duracion, a partir de ella se crearan dos, una duration_int que contendrá solo los números y otra duration_type con el tipo de duracion, min, season or seasons

In [ ]:
plataformas.duration.unique()

array(['113 min', '110 min', '74 min', '69 min', '45 min', '52 min',
       '98 min', '131 min', '87 min', '92 min', '88 min', '93 min',
       '94 min', '46 min', '96 min', '1 season', '104 min', '62 min',
       '50 min', '3 seasons', '2 seasons', '86 min', '36 min', '37 min',
       '103 min', '9 min', '18 min', '14 min', '20 min', '19 min',
       '22 min', '60 min', '6 min', '54 min', '5 min', '84 min',
       '126 min', '125 min', '109 min', '89 min', '85 min', '56 min',
       '40 min', '111 min', '33 min', '34 min', '95 min', '99 min',
       '78 min', '4 seasons', '77 min', '55 min', '53 min', '115 min',
       '58 min', '49 min', '135 min', '91 min', '64 min', '59 min',
       '48 min', '122 min', '90 min', '102 min', '65 min', '114 min',
       '136 min', '70 min', '138 min', '100 min', '480 min', '4 min',
       '30 min', '152 min', '68 min', '57 min', '7 seasons', '31 min',
       '151 min', '149 min', '9 seasons', '141 min', '121 min', '79 min',
       '140 min', '51 min', '106 min', '75 min', '27 min', '107 min',
       '108 min', '38 min', '157 min', '43 min', '118 min', '139 min',
       '6 seasons', '112 min', '15 min', '72 min', '5 seasons', '116 min',
       '142 min', '71 min', '42 min', '81 min', '32 min', '66 min',
       '127 min', '159 min', '67 min', '29 min', '132 min', '101 min',
       '164 min', '73 min', '61 min', '80 min', '83 min', '44 min',
       '120 min', '26 min', '97 min', '23 min', '105 min', '82 min',
       '11 min', '148 min', '161 min', '123 min', '29 seasons', '0 min',
       '124 min', '143 min', '35 min', '47 min', '170 min', '19 seasons',
       '3 min', '146 min', '601 min', '24 min', '21 seasons', '154 min',
       '128 min', '133 min', '153 min', '119 min', '63 min', '169 min',
       '174 min', '144 min', '7 min', '137 min', '76 min', '39 min',
       '8 seasons', '12 seasons', '134 min', '163 min', '1 min',
       '145 min', '162 min', '41 min', '147 min', '155 min', '117 min',
       '167 min', '11 seasons', '28 min', '25 min', '180 min', '2 min',
       '541 min', '240 min', '129 min', '178 min', '171 min', '21 min',
       '172 min', '173 min', '10 min', '166 min', '160 min', '130 min',
       '479 min', '13 min', '8 min', '10 seasons', '17 min', '16 min',
       '158 min', '183 min', '12 min', '14 seasons', '150 min', '481 min',
       '181 min', '156 min', '540 min', '177 min', '550 min', '485 min',
       '176 min', '193 min', '165 min', '175 min', '188 min', '187 min',
       '168 min', '190 min', '185 min', '209 min', '192 min', '182 min',
       '207 min', '269 min', '15 seasons', '191 min', '32 seasons',
       '16 seasons', nan, '23 seasons', '20 seasons', '13 seasons',
       '17 seasons', '30 seasons', '22 seasons', '25 seasons',
       '34 seasons', '26 seasons', '229 min', '189 min', '273 min',
       '204 min', '212 min', '224 min', '203 min', '194 min', '233 min',
       '237 min', '230 min', '195 min', '253 min', '208 min', '186 min',
       '312 min', '214 min', '179 min', '200 min', '196 min', '228 min',
       '205 min', '201 min'], dtype=object)

In [ ]:
plataformas.duration.dtype

dtype('O')

Se usa la funcion de lambda para poder hacer ese split

In [ ]:
plataformas[['duration_int', 'duration_type']] = plataformas.apply(lambda x: [np.nan, np.nan] if pd.isna(x.duration) or x.duration.strip() == ''
                                                           else [int(x.duration.split(' ')[0]), x.duration.split(' ')[1]] if 'min' not in x.duration
                                                           else [int(x.duration.replace('min', '').strip()), 'min'], axis=1, result_type='expand')

In [ ]:
#comprobacion de las columnas creadas
plataformas.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113.0,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2,110.0,min

In [ ]:
#una comprobacion de la columna de type
plataformas.duration_type.unique()

array(['min', 'season', 'seasons', nan], dtype=object)

In [ ]:
null_rows = plataformas[plataformas["duration"].isnull()]
null_rows.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type
11118,s1,movie,ricky velez: here's everything,NaN,NaN,NaN,2021-10-24,2021,tv-ma,NaN,"comedy, stand up",​comedian ricky velez bares it all with his ho...,hs1,NaN,NaN
11130,s13,movie,out of the shadows: the man behind the steele ...,NaN,NaN,NaN,2021-10-18,2021,g,NaN,news,george stephanopoulos sits down with former mi...,hs13,NaN,NaN
11133,s16,movie,showtime championship boxing: lopez vs. salido...,NaN,NaN,NaN,2021-10-16,2011,g,NaN,sports,juan manuel lopez vs. orlando salido for the w...,hs16,NaN,NaN

Datos de las plataformas y los detalles de las peliculas  🌸

In [ ]:
#para guardar a csv
#plataformas.to_csv('/content/drive/MyDrive/plataformas.csv')

In [ ]:
#para guardar a csv
plataformas.to_parquet('/content/drive/MyDrive/plataformas.parquet', index=False)

In [ ]:
plataformas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       14739 non-null  object
 4   cast           17677 non-null  object
 5   country        11499 non-null  object
 6   date_added     13444 non-null  datetime64[ns]
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   duration       22811 non-null  object
 10  listed_in      22998 non-null  object
 11  description    22994 non-null  object
 12  id             22998 non-null  object
 13  duration_int   22811 non-null  float64
 14  duration_type  22811 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(12)
memory usage: 2.6+ MB



---

In [ ]:
plataformas.shape

(22998, 15)

# Vamos con los 8 datos donde vienen los ratings

In [ ]:
#abrimos los csv de raiting y los colocamos a un dataframe

df1=pd.read_csv('/content/drive/MyDrive/MLOpsReviews/ratings/1.csv')
df2=pd.read_csv('/content/drive/MyDrive/MLOpsReviews/ratings/2.csv')
df3=pd.read_csv('/content/drive/MyDrive/MLOpsReviews/ratings/3.csv')
df4=pd.read_csv('/content/drive/MyDrive/MLOpsReviews/ratings/4.csv')
df5=pd.read_csv('/content/drive/MyDrive/MLOpsReviews/ratings/5.csv')
df6=pd.read_csv('/content/drive/MyDrive/MLOpsReviews/ratings/6.csv')
df7=pd.read_csv('/content/drive/MyDrive/MLOpsReviews/ratings/7.csv')
df8=pd.read_csv('/content/drive/MyDrive/MLOpsReviews/ratings/8.csv')

In [ ]:
# se concatenan los data del rating
ratingTotal = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], ignore_index=True, sort=False )
ratingTotal.head(3)

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381

In [ ]:
#la union de los datas con los rating nos da un dataframe de 
ratingTotal.shape

(11024289, 4)

In [ ]:
# se obtienen 124 duplicados
ratingTotal.duplicated().sum()

124

In [ ]:
#se eliminan los duplicates
ratingTotal.drop_duplicates(inplace=True)

In [ ]:
#comprobando que se elimino
ratingTotal.duplicated().sum()

0

In [ ]:
#cambio el formato de la columna 'timestamp' a fecha sin la opcion de hora
ratingTotal.timestamp = pd.to_datetime(ratingTotal.timestamp, unit='s').dt.strftime('%Y - %m - %d')
#Pasamos a formato fecha
ratingTotal.timestamp = pd.to_datetime(ratingTotal.timestamp)

In [ ]:
#comprobacion del cambio
ratingTotal.head(3)

   userId  rating  timestamp movieId
0       1     1.0 2015-03-09   as680
1       1     4.5 2015-03-09  ns2186
2       1     5.0 2015-03-09  hs2381

Se hace un cambio en el nombre, ya que los datos que muestra en la columna de rating se consideran como el score que el usuario le da a la pelicula o tv show que vio

In [ ]:
ratingTotal.rename( columns = { "rating": "score"}, inplace=True)

Este dataframe se usará para el ML junto con la info de plataformas 👀

In [ ]:
#una comprobacion del cambio
ratingTotal.head(3)

   userId  score  timestamp movieId
0       1    1.0 2015-03-09   as680
1       1    4.5 2015-03-09  ns2186
2       1    5.0 2015-03-09  hs2381

In [ ]:
#para guardar a csv de plataformas con la informacion del score promedio 
ratingTotal.to_parquet('/content/drive/MyDrive/rating.parquet', index=False)

Para hacer una union entre el csv de plataformas y la de usuarios, se hace un merge con estos nuevos datos pero con el score promedio, por lo que se hace una agrupacion

In [ ]:
#hacemos una prueba para ver como quedará 
ratingPorPromedio = ratingTotal.groupby('movieId')['score'].mean()

#se muestra un dataframe muy crudo con dos columnas uno con el movieID como index y otra columna con el promedio 
ratingPorPromedio.head(3)

movieId
as1      3.467131
as10     3.439571
as100    3.609302
Name: score, dtype: float64

In [ ]:
#Hago un dataframe con la media, el score y redondeo a dos decimales
sacandoPromedio = ratingTotal.groupby('movieId')['score'].mean().round(2).to_frame()

#renombro la columna de moviId, para que quede como el indice y reseteo los datos
sacandoPromedio = sacandoPromedio.rename_axis('movieId').reset_index()

# Ahora en la columna que tiene el movieID le cambio el nombre
sacandoPromedio.rename( columns = { "movieId": "id"}, inplace=True)

#Comprobacion de los pasos 
sacandoPromedio.head(3)

      id  score
0    as1   3.47
1   as10   3.44
2  as100   3.61

In [ ]:
#revisamos las dimensiones de este dataframa
sacandoPromedio.shape

(22998, 2)

Tenemos la misma cantidad de rows en el dataframe que tiene el promedio del score de las peliculas y el dataframe donde estan las plataformas y los detalles de las peliculas

#Ahora si hacemos el marge con la base de datos de plataforma y con la base de datos que tienen los promedios

In [ ]:
plataformasConScore = plataformas.merge(sacandoPromedio, on='id')
plataformasConScore.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type,score
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113.0,min,3.47
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2,110.0,min,3.55
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74.0,min,3.50

In [ ]:
plataformasConScore.shape

(22998, 16)

Agregare una columna donde se especifique la plataforma para poder hacer consultas más sencillas

In [ ]:
#agrego una columna de plataformas porque hay una consulta que necesita
plataformasConScore['platform'] = plataformasConScore.id.apply(lambda x: 'amazon prime' if 'a' in x 
                                                                 else 'disney plus' if 'd' in x
                                                                 else 'hulu' if 'h' in x
                                                                 else 'netflix')

In [ ]:
plataformasConScore.platform.value_counts()

amazon prime    9668
netflix         8807
hulu            3073
disney plus     1450
Name: platform, dtype: int64



---

Pasamos la data a un csv para posteriormente realizar consultas 🌸

In [ ]:
#para guardar a csv de plataformas con la informacion del score promedio 
#plataformasConScore.to_csv('/content/drive/MyDrive/plataformasConScore.csv', index=False)

In [ ]:
plataformasConScore.to_parquet('/content/drive/MyDrive/plataformasConScore.parquet', index=False)



---


# Union de la informacion de las plataformas con los datos por usuario y sus calificaciones

In [ ]:
#se hacen algunos cambios (revisar texto 👀) para que se pueda hacer el merge con los datos de plataformas
ratingTotal.rename( columns = { "movieId": "id"}, inplace=True)
ratingTotal.head(3)

   userId  score  timestamp      id
0       1    1.0 2015-03-09   as680
1       1    4.5 2015-03-09  ns2186
2       1    5.0 2015-03-09  hs2381

In [ ]:
ratingTotal.shape

(11024165, 4)

In [ ]:
plataformas.shape

(22998, 15)

In [ ]:
#Merge con plataformas y con los usarios y el rating usando el id
plataformasUsuarioRating = plataformas.merge(ratingTotal, on='id')

In [ ]:
#revisando el resultado
plataformasUsuarioRating.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,id,duration_int,duration_type,userId,score,timestamp
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113.0,min,543,5.0,2003-07-30
1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113.0,min,595,3.0,1996-08-13

In [ ]:
#cantidad de rows y columnas
plataformasUsuarioRating.shape

(11024165, 18)

In [ ]:
#un poco mas de info del data
plataformasUsuarioRating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11024165 entries, 0 to 11024164
Data columns (total 18 columns):
 #   Column         Dtype
---  ------         -----
 0   show_id        object
 1   type           object
 2   title          object
 3   director       object
 4   cast           object
 5   country        object
 6   date_added     datetime64[ns]
 7   release_year   int64
 8   rating         object
 9   duration       object
 10  listed_in      object
 11  description    object
 12  id             object
 13  duration_int   float64
 14  duration_type  object
 15  userId         int64
 16  score          float64
 17  timestamp      datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(2), object(12)
memory usage: 1.6+ GB



---


Data que se usará para ML 🌸

In [ ]:
#para guardar a csv 
#plataformasUsuarioRating.to_csv('plataformasUsuarioRating.csv', index=False)

In [ ]:
#tambien lo guardaré en formato parquet
plataformasUsuarioRating.to_parquet('/content/drive/MyDrive/plataformasUsuarioRating.parquet', index=False)

<p align="center">
<img src = "https://media.tenor.com/sDhhANV9qroAAAAC/por-fin.gif" width=20%>
</p>